<!-- <first-cmp></first-cmp>

<event-binding-demo></event-binding-demo>

<app-bindings-demo></app-bindings-demo>

<hr>

<app-parent></app-parent>


<attribute-binding></attribute-binding> -->

<!-- 
<app-for-if></app-for-if>

<else-comp></else-comp>

<switch-comp></switch-comp>

<app-first-last-odd-even></app-first-last-odd-even>

<track-by-demos></track-by-demos>

<h1 UpdateColor>Hello I am a directive</h1>

<input type="password" ShowHidePassword UpdateColor> -->

<!-- 
<h4>1. Today is {{tod}}</h4>
<h4>2. Today is {{tod}} date</h4>
<h4>3. Today is {{tod | date: "dd//MM//yyyy"}}</h4>

<hr>
<h4> Display in uppercase {{ str1 | uppercase}}</h4>
<h4> Display in uppercase {{ str2 | lowercase}}</h4>

<hr>

<p>default {{ myNum | number}}</p>

{{ myNum | number: '3.2-5'}}

<hr>
{{ x | number: '3.2-5'}}

<hr>

{{ myNum | currency}}

<hr>

{{ message}} 

<p> {{ message | capitalize}} </p> -->


<!-- <sort-demo></sort-demo>

<hr>

<div *ngFor="let row of rows | keyvalue ">
    {{ row | json | uppercase }}

    {{ row.key }} : {{ row.value }}

</div> -->


<!-- <app-filter></app-filter> -->


<!--  life-cycle-hooks -->
<!-- <life-cycle-parent></life-cycle-parent> -->

<!-- <view-child-demos></view-child-demos> -->

<!-- 
<app-content-parent>
    <section>
        Inside athe parent element
    </section>
    
    <app-content-child>
      content of the child component here
    </app-content-child>
</app-content-parent> -->

<br><br>

<!-- <error-comp></error-comp> -->

<!-- <view-encapsulation-demo></view-encapsulation-demo> -->

<!-- dependency Injection -->

<!-- <my-car-comp></my-car-comp> -->

<app-parent-di></app-parent-di>

<use-class-demo></use-class-demo>

<use-factory-demo></use-factory-demo>