<!-- <h1 style="text-align:center">Welcome to ECommerce</h1> -->
<!-- 
<product (helloChange)="parentFunc1($event)"></product>
No of Product views : {{noOfProductViews}}

<product message="Hi Child!"></product>

<product-list></product-list> -->



<!-- main app container -->
<!--Jumbotran -->

<div class="container">

    <div class="mt-4 p-4 bg-primary text-white rounded">
        <h1 class="text-center">Welcome to ECommerce</h1>
        <p>Great products are great prices.</p>
    </div>
    
    </div>



  <!-- forms topic -->
    <add-product></add-product>